---
layout: default
---

<script>
    $( document ).ready(function() {
        //weather

        var departureStation, arrivalStation, searchedCity, departureStationId, searchedTrainStations, compensationTrainId, compensationTrainName;
        {% for city in site.data.cities %}

          if("compensationTrain" !== "{{city.stationType}}"){
              getWeather("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");
              setWeatherInterval("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");

              getForecast("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");
              setForecastIntervall("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");
          }

          if("departure" === "{{city.stationType}}"){
              departureStation = "{{city.mainStationName}}";
              departureStationId = "{{city.stationId}}";
          }else if("arrival" === "{{city.stationType}}"){
              arrivalStation = "{{city.mainStationName}}";
              searchedCity = "{{city.name}}";
              searchedTrainStations = "{{city.searchedTrainStations}}";
          }else if("compensationTrain" === "{{city.stationType}}"){
              compensationTrainId = "{{city.stationId}}";
              compensationTrainName = "{{city.mainStationName}}";
          }
        {% endfor %}

        {% for additionalData in site.data.additionalData %}
          getCurrentLocalTrains('{{additionalData.stationId}}', '{{additionalData.stationsBetween}}');

        {% endfor %}

        getCurrentBirthday('{{site.data.birthdays.birthdays}}');
        setBirthdayInterval('{{site.data.birthdays.birthdays}}');

        getCurrentTrains(departureStation, arrivalStation, searchedCity, departureStationId, searchedTrainStations, compensationTrainId, compensationTrainName);
        setTrainInterval(departureStation, arrivalStation, searchedCity, departureStationId, searchedTrainStations, compensationTrainId, compensationTrainName);

        setCurrentDateTime();
        setCurrentDateTimeInterval();

        setToDoTimeInterval();

    });
</script>

<div class="home">

  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-right no-padding-right">
          <p><span class="current-time"></span> <span class="current-date"></span></p>
        </div>
      </div>
      <div class="row margin-bottom">
        <div class="col-md-7 no-padding-left">
          <div class="train-container border-radius">
            <div class="row">
              <div class="col-md-2 no-padding-right">
                <img class="small-margin-left" src="images/icons/24/003-transport-1.png"/>
              </div>
              <div class="col-md-8 no-padding-left">
                <p><b>Zugverbindungen:</b> <span class="startStation">Berlin</span><span class="arrow small-margin-left glyphicon glyphicon-arrow-right"></span><span class="endStation small-margin-left">Wolfsburg</span></p>
              </div>
            </div>
            <div class="train-details"></div>
          </div>
        </div>
        <div class="col-md-5 no-padding-left no-padding-right">
          <div class="border-radius birthday-container">
            <div class="row">
              <div class="col-md-2">
                <img class="small-margin-left" src="images/icons/24/001-present.png"/>
              </div>
              <div class="col-md-8">
                <p class="currentBirthday"><span class="birthday-start-text"></span><span class="birthday-people"></span><span class="birthday-end-text"></span></p>
              </div>
            </div>
          </div>
          <div class="border-radius todo-container margin-top">
            <div class="row">
              <div class="col-md-2">
                <img class="small-margin-left" src="images/icons/24/checklist.png"/>
              </div>
              <div class="col-md-8">
                <p>Heutigen ToDos</p>
              </div>
            </div>
            <div class="todo-container-details">
              <div class="row todos">
                <div class="col-md-12">
                  <p><b>Heute gibt es keine ToDos</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row weather">
      <div class="col-md-6 no-padding-left">
        <div class="local-train-container border-radius">
          <p>Test</p>
        </div>
      </div>

      {% for city in site.data.cities %}
        {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
        {% if modulo == '0' %}
        <!--<div class="col-md-1"></div>-->
        {% endif %}
        {% if city.stationType != "compensationTrain" %}
        <div {% if site.data.cities.size == 1 %} class="col-md-6" {% else %} class="col-md-3 no-padding-left {% if modulo == '1' %} no-padding-right {% endif %}" {% endif %}>
          <div class="weather-container border-radius {{city.name}}">
            <div class="row">
              <div class="col-md-12">
                <p><b>{{city.name}}</b></p>
                <div class="row">
                  <div class="col-md-5">
                    <img class="center-block weatherCurrentImg" src="images/icons/64/007-weather-1.png"/>
                  </div>
                  <div class="col-md-4">
                    <p class="text-left weather-font currentTemp"/>
                  </div>
                </div>
                <div class="row margin-top fixed-height">
                  <div class="col-md-4">
                    <p class="text-center"><span class="currentTempMin"></span><span class="big-font currentTempMax"></span></p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-left currentWeather"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% endif %}
      {% if modulo == '1' %}
      </div>
      {% endif %}
      {% endfor %}

    </div>
    </div>

</div>
